
body {
    background-image: url("../img/background.jpg");
    background-size:cover;
    font-family: 'Lato', sans-serif;
    background-repeat:no-repeat;
    height: 100%;
    color: #fff;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

ul li{
    border: 1px solid darkslategrey;
    padding:10px;
    margin: 20px 0;
}

.col-md-6{
    padding: 100px;
}

input {
    background: none;
    border: none;
}

#clock{
    font-size: 50px;
}

#map{
    width: 100%;
    height: 250px;
    border: 1px solid black;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#map-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#map-input:focus {
    border-color: #4d90fe;
}

.map-container {
    font-family: Roboto;
}
